@media(max-width: 950px){
    
    .promo{
        background: url(../../img/bg/RunBG2.jpg) center center/cover no-repeat;
        &__wrapper{
        align-items:center;
        }
        h1{
            font-size: 35px;
        }
        .container{
            margin: 0 15px;
        }
    }
    .header{
        &__official{
            font-size: 11px;
            span{
                font-size: 13px;
            }
        }
        &__phone{
            font-size: 12px;
        }
    }
    .benefits{
        &__wrapper{
            flex-direction: column;
            align-items:center;
        }
    }
    .consultation{
        &__title{
            text-align: center;
            font-size: 23px;
        }
        &__subtitle{
            text-align: center;
            font-size: 15px;
        }
    }
    .feed_form{
        margin: 0 auto;
        margin-top: 20px;
    }

    .carousel{
        .container{
            width: 500px;
            img{
                width: 100%;
                height: auto;
            }
            button{
                display: none;
            }
        }
    }
    
}
@media(max-width: 600px){
    
    .promo{
        &__wrapper{
        align-items:center;
        }
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 19px;
        }
    }
    .header{
        flex-wrap: wrap;
        &__official{
            font-size: 11px;
            span{
                font-size: 13px;
            }
        }
        &__contact{
            align-items:flex-start;
        }
        &__phone{
            font-size: 11px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .benefits{
        &__wrapper{
            flex-direction: column;
            align-items:center;
        }
    }
    .consultation{
        &__title{
            font-size: 18px;
        }
        &__subtitle{
            font-size: 12px;
        }
    }
    .carousel{
        .container{
            width: 300px;
        }
    }
}   
@media(max-width: 460px){
    .header{
        flex-direction: column;
        &__official{
            margin-top: 20px;
            margin-right: 0px;
        }
        &__contact{
            align-items:center;
        }
        
    }
    .promo{
        h1{
            font-size: 21px;
        }
        h2{
            font-size: 11px;
        }
        &__icons{
            width:280px ;
        }
        &__icon{
            font-size: 11px;
        }
        .button{
            &_main{
                width: 250px;
                height: 40px;
            }
        }
        &__link{
            font-size: 12px;
        }
    }
    .benefits{
        h2{
            font-size: 20px;
        }
        
        &__wrapper{
            margin-right: 10px;
            margin-left: 10px;
        }
        &__item{
            width: 200px;
            font-size: 11px;
        }
    }
    .consultation{
        &__title{
            font-size: 14px;
        }
        &__subtitle{
            font-size: 10px;
        }
    }
    .feed_form{
        margin: 0 auto;
        margin-top: 20px;
        width: 250px;
    }
    

    
}



