@import 'blocks/promo';
@import 'blocks/inputs';
@import 'blocks/consultation';
@import 'blocks/header';
@import 'blocks/catalog';
@import 'base/mixins';
@import 'base/media';
@import 'base/variables';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/carousel';

* {
    font-family: MuseoModerno,sans-serif;
    
}
.container{
    margin: 0 auto;
    max-width: 950px;
    position: relative;
}