.reviews{
    &__title{
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
    &__item{
        max-width: 880px;
        display: flex;
        align-items:flex-start;
        margin-top: 60px;
        img{
            display: block;
            margin-right: 60px;
        }
    }
    &__text{
        font-weight: 300;
        font-size: 16px;
        color: #0D0D0D;

    }
    &__name{
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;

    }
    &__run{
        display: block;
        font-weight: 500;
        font-size: 14px;
        color: #646464;
        margin-bottom: 20px;
    }
}